.skills-icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    justify-items: center;
    align-items: center;
}

#skills-icon-git {
    max-width: 50%;
}


.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-icon a {
    display: flex;
    justify-content: center;
}

.projects-icon img {
    max-width: 50%;
}