.skills-icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    justify-items: center;
    align-items: center;
}

#skills-icon-git {
    min-width: 50%;
}


.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
